$mainfont: 'Poppins';
$bgcolor: #313335;
$textcolor: #F0F0F0;
$textcolor-selected: #A374D2;
$textcolor-positive: #33C15B;
$textcolor-small: #878080;
$divcolor: #1F1F1F;
$divcolor-selected: #9967CA;
$radius: 1rem;

.portfolio-main {
  height: 90%;
  width: 100%;
  background-color: $bgcolor;
  color: $textcolor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.portfolio-info {
  background-color: transparent;
  height: 20%;
  margin: 0.9rem 1.8rem 0.9rem 1.8rem;
  border-radius: $radius;
  display: flex;
  flex-direction: row;

}

.portfolio-info div {
  background-color: $divcolor;
  border-radius: $radius;

}

.portfolio-value-return {
  width: 50%;
  margin: 0 0.75rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

.portfolio-value  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:50%;
  padding: 1rem 0 1rem 1.6rem;
}

.portfolio-value span {
  font-size: 35px;
}

.portfolio-return span {
  font-size: 25px;
  color: #33C15B
}

.portfolio-return  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.6rem 1rem 0rem;
}

.portfolio-value-return div header {
  color: #878080;
  font-size: 15px;
}

.daily-return {
  width: 20%;
  margin: 0 0.75rem 0 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.daily-return header {
  color: #878080;
  font-size: 15px;
}

.daily-return span {
  font-size: 35px;
  color: #33C15B
}

.available-funds {
  width: 30%;
  margin: 0 0 0 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 1rem 1.6rem;
}

.available-funds header {
  color: #878080;
  font-size: 15px;
}

.available-funds span {
  font-size: 35px;
}



.performance-graph {
  background-color: $divcolor;
  height: 45%;
  margin: 0.9rem 1.8rem 0.9rem 1.8rem;
  border-radius: $radius;
}

.asset-table {
  background-color: $divcolor;
  height: 35%;
  margin: 0.9rem 1.8rem 1.8rem 1.8rem;
  border-radius: $radius;
}