$mainfont: 'Poppins';
$bgcolor: #313335;
$textcolor: #ccc9cf;
$textcolor-selected: #A374D2;
$textcolor-positive: #33C15B;
$textcolor-small: #878080;
$divcolor: #1F1F1F;
$divcolor-selected: #9967CA;
$radius: 1rem;

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content : center;
  align-items: center;
  color : #A374D2;
  background-color: #313335;
}

h1{
  font-size: 1.5rem;
  color: #878080;
}

.popup-inner {
  display: flex;
  flex-direction: column;
  
  position: relative;
  padding: 32px;
  width: 70rem;
  height: 45rem;
  margin-right: 10rem;
  margin-bottom : 10rem;
  background-color: #1F1F1F;
  border-radius: 20px;
  color: $textcolor;
}

.new-portfolio {
  display: flex;
  justify-content: center;
  align-items : center;
  color : white;
  width: 100%;
}

.new-portfolio form {
  padding: 0 2rem 0 2rem;
  width: 100%
}



.new-portfolio input {
  color : #A374D2;
 
}

.new-portfolio input::placeholder{
  color : #564d5c;
  font-size: smaller;
}

.new-portfolio select {
  color: #A374D2;
}

.input-info {
  margin-top: 5rem; 
  font-size: x-large;
  width: 100%;
} 

.input-info h2 {
  font-size: smaller;

}

.input-info select {
  background-color: transparent;
}

.input-info input {
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 0.15rem 0;
  border-color: #9967CA;
  width: 100%
  
}

.error-message{
  color: red;
  margin-top : 2rem;
}

.popup-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exit-button {
  margin-top: 0.5rem;;
  width : 1.5rem;
  height: 1.5rem;
}

.buttons {
  padding-top: 8rem;
  padding-left: 12rem;
}

.new-portfolio button {
  margin-top: 4rem;
  font-size: 1.2rem;
  width: 8rem;
  height: 4rem;
  margin: 0 5rem 0 5rem;
  color: $textcolor;
  font-family: 'Poppins';
  background-repeat: no-repeat;
  background-color: rgba($color: #c6a8e4, $alpha: .1);
  border-radius: 10px;
  border: none;
  overflow: hidden;
  outline: none;
}

.new-portfolio button:hover {
  background-color: rgba($color: #9967CA, $alpha: .29) !important;
  border-radius: 10px;
  color: #9d66d3 !important;
}

.competition-info {
  margin-top:1.5rem;
  margin-left : 2rem;
  display: flex;
  flex-direction:column;
  justify-content: center;
  
  height: 85%;
  overflow-y: scroll;
}

.competition-info-box {
  text-align: center;
}

.competition-info-box button {
  margin-top: 5rem;
}

.competition-info-box h2 {
  color : #A374D2;


}

.competition-info-box p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.competition-info-box h2.title {
  color : white;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.Ticker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticker-info {
  margin-top: 1.5rem;
}

.buy-sell {
  width:100%;
  display: flex; 
  flex-direction: row;
  justify-content:space-around;
  margin-top : 4rem;
  
}
.buy-sell b{
  color: #A374D2;
}

.buy-sell input {
  color: white;
  width: 60%;
  margin-top: 1.7rem;
  margin-right: 1.5rem;
  background-color: transparent;
  text-align: center;
}

.buy-ticker { 
  background-color: #313335;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width : 20rem;
  height: 10rem;
}

.buy-ticker input{
  margin-right: 0.5rem
}

.sell-ticker { 
  background-color: #313335;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width : 20rem;
  height: 10rem;
}

.sell-ticker input{
  margin-right: 0.5rem
}

.ticker-info h2 {
  text-align: center;
  color:$textcolor-small

}

.ticker-info p {
  color: #A374D2;
  margin-top : 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  
}

.ticker-info p span{
  color: $textcolor

}

.error-delete {
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

.delete-button {
  width: 4rem;
  background-color: rgba($color: red, $alpha: .29);
  border-radius: 10px;
  color: red ;
}

.confirm-delete-button{
  margin-top:5rem;
  width: 8rem;
  background-color: rgba($color: red, $alpha: .29);
  border-radius: 10px;
  color: red ;
}

.confirm-profit-button {
  margin-top:5rem;
  width: 8rem;
  background-color: rgba($color: #33C15B, $alpha: .29);
  border-radius: 10px;
  color: #33C15B;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.you-lose{
  margin-top: 2rem;
  margin-left:2rem;
  color: $textcolor-small;
}

.you-win {
  margin-top: 2rem;
  margin-left:2rem;
  color: $textcolor-small;
}

.results h1{
  color: $divcolor-selected;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.results h2{
  margin-top:1rem;
}

.results b{
  color: $textcolor;
}


.email-input-info {
  margin-top: 2rem
}

.frm-login{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frm-login form {
  width: 80%;
}

.frm-login h1 {
  padding-top: 2rem;
  font-family: "Fredoka One";
  font-size: 5rem;
  color:rgba($color: #ccc9cf, $alpha: .8);

  letter-spacing: 0.2rem;
}

.login-button {
  height: 4rem;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5rem;
  background-color: rgba($color: #c6a8e4, $alpha: .1);
  border-radius: 10px;
  cursor: pointer;
}

.login-button:hover {
  background-color: rgba($color: #9967CA, $alpha: .29) !important;
  border-radius: 10px;
  color: #9d66d3 !important;
}

.login-button button {
  padding-top: 1.2rem;
}



