$mainfont: 'Poppins';
$bgcolor: #313335;
$textcolor: #F0F0F0;
$textcolor-selected: #A374D2;
$textcolor-positive: #33C15B;
$textcolor-small: #878080;
$divcolor: #1F1F1F;
$divcolor-selected: #9967CA;
$radius: 1rem;

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content : center;
  align-items: center;
  color : #A374D2;
  background-color: #313335;
}

h1{
  font-size: xx-large;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 70rem;
  height: 45rem;
  margin-right: 10rem;
  margin-bottom : 10rem;
  background-color: #1F1F1F;
  border-radius: 20px;
  color: $textcolor;
}

.new-portfolio{
  display: flex;
  padding : auto;
  justify-content: center;
  align-items : center;
  margin-top: 1rem;
  color : white;
}

.new-portfolio input {
  color : #A374D2;
}

.new-portfolio input::placeholder{
  color : #A374D2;
}

.new-portfolio select {
  color: #A374D2;
}

.input-info {
  margin-top: 5rem; 
  font-size: x-large;
}

.input-info select {
  background-color: transparent;
}

.input-info input {
  background-color: transparent;

}

.error-message{
  color: red;
  margin-top : 2rem;
}

.popup-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exit-button {
  margin-top: 0.5rem;;
  width : 1.5rem;
  height: 1.5rem;
}

.new-portfolio button {
  margin-top: 4rem;
  width: 5rem;
  height: 2rem;
  color: $textcolor;
  font-family: 'Poppins';
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.new-portfolio button:hover {
  background-color: rgba($color: #9967CA, $alpha: .29) !important;
  border-radius: 10px;
}

.competition-info {
  margin-top:1.5rem;
  margin-left : 2rem;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  height: 85%;
  overflow-y: scroll;
}

.competition-info-box button {
  margin-top: 5rem;
}

.competition-info-box h2 {
  color : #A374D2;

}

.competition-info-box p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.competition-info-box h2.title {
  color : white;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.ticker-info {
  margin-top: 1.5rem;
}

.buy-sell {
  width:100%;
  display: flex; 
  flex-direction: row;
  justify-content:space-around;
  margin-top : 4rem;
  
}
.buy-sell b{
  color: #A374D2;
}

.buy-sell input {
  color: white;
  width: 60%;
  margin-top: 1.7rem;
  margin-right: 1.5rem;
  background-color: transparent;
  text-align: center;
}

.buy-ticker { 
  background-color: #313335;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width : 20rem;
  height: 10rem;
}

.sell-ticker { 
  background-color: #313335;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width : 20rem;
  height: 10rem;
}

.ticker-info p {
  color: #A374D2;
  margin-top : 0.5rem;
}