$mainfont: 'Poppins';
$headerfont:'Vollkorn';
$bgcolor: #313335;
$textcolor: #F0F0F0;
$textcolor-selected: #A374D2;
$textcolor-positive: #33C15B;
$textcolor-small: #878080;
$divcolor: #1F1F1F;
$divcolor-selected: #9967CA;
$radius: 1rem;

.header {
  background-color: $bgcolor;
  color: $textcolor;
  height: 10%;
  margin: 0.9rem 1.8rem 0.9rem 1.8rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_portfolio-info {
  padding-left: 1rem;
  color:#F0F0F0;
  font-weight: 400;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  letter-spacing: 0.08rem;
}

.portfolio-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #a493b3;
  padding-top: 0.5rem;
  
}

.txt-search-bar {
  display: flex;
  height: 2.5rem;
  flex-direction: row;
  background-color: #1F1F1F;
  border-radius: 1rem;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  width: 95%
}

.user-info {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  width: 6%;
  height: 30px;
}

.search {
  margin-left: 10px;
  width: 100%;
}

.search-result {
  width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #444647;
  opacity: 90%;
  position: absolute;
  z-index: 999;
 
  border-radius: $radius;
}

.search-result-li {
  width: 100%;
  line-height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  padding: 10px;
  cursor: pointer;
  border-radius: $radius;
  z-index: 1000;
}

.search-result-li:hover{
  background-color: $divcolor-selected;
}

.search-result-symbol {
  display: flex;
}

.search-result-name {
  display: flex;
}

.search-result-added {
  margin-right: 10px;
}
