$mainfont: 'Poppins';
$bgcolor: #313335;
$textcolor: #F0F0F0;
$textcolor-selected: #A374D2;
$textcolor-positive: #33C15B;
$textcolor-small: #878080;
$divcolor: #1F1F1F;
$divcolor-selected: #9967CA;
$radius: 1rem;

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 18rem;
}

.Logo { 
  width: 100%;
  height: 7rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.logo-image {
  width: 3rem;
  height: 3rem;
}

.menus-lists {
  width: 100%;
  height: 11rem;

}
.portfolios-lists {
  width: 100%;
}

.sideBar-titles {
  font-size: smaller;
  color: #878080;
  padding-left: 1rem;
}

.sideListItem {
  font-weight:lighter;
  padding-top: .5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  width: 11rem;
}

.sideListItem:hover {
  background-color: rgba($color: #c6a8e4, $alpha: .1);
  border-radius: 10px;

}

.sideListItem--selected {
  background-color: rgba($color: #9967CA, $alpha: .29) !important;
  border-radius: 10px;
  color: #A374D2 ;
}

.sidebar-button {
  font-family: 'Poppins';
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  color: white;
}

.inputForm { 
  width : 10rem;
  color: white;
  margin-left : -1.3rem;
  background-color:#1F1F1F;
  border: 1px solid white;
  border-radius: 5px;
}

.newPortfolio:hover {
  background-color: transparent !important;
}

